<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikdroind.smartvotingsystemadminapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.Admin.Feedback.Feedback_ListScreen"
            android:exported="true"></activity>
        <activity android:name=".Activities.Admin.Result.Add_Result_PartywiseActivity"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.Result.Add_Result_ListScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.Result.Result_SingleScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.Result.Result_ListScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.CandidateList.Add_Candidate_List_By_Candidate_ConstituencyScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.CandidateList.Add_Candidate_List_Election_Type_and_ConstituencyScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.CandidateList.Candidate_List_Single_Candidate_InformationScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.CandidateList.Candidate_List_By_Candidate_Election_Type_and_ConstituencyScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.CandidateList.Candidate_ListScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.CandidateList.Candidate_List_Elections_Type_ConstituencyScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.UpcomingElection.AddUpcomingElectionActivity"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.UpcomingElection.Upcoming_Election_SingleScreen"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.UpcomingElection.UpcomingElectionListActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.Admin.CurrentElection.Add_Current_Election_By_Candidate_ConstituencyScreen"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"/>
        <activity
            android:name=".Activities.Admin.CurrentElection.SingelCurrentElectionCandidateActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".Activities.Admin.CurrentElection.Add_Current_Election_Type_and_ConstituencyScreen"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.CurrentElection.CurrentElectionCandidateActivity"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.CurrentElection.CurrentElection_Type_ConstituencyActivity"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.VoterList.ViewVoterCardActivity"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.VoterList.AllVoterActivity"
            android:exported="true"/>
        <activity android:name=".Activities.Admin.TypeofElection.AddTypeofElectionActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.Admin.TypeofElection.TypeofElectionActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"/>
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>